.event-card {
  max-width: 350px;
  max-height: 176px;
  width: 100%;
  background: #f6f6f6;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.event-card-logo-and-text {
  display: flex;
}

.event-button {
  padding-top: 10px;
  padding-bottom: 10px;
  align-self: center;
}
