.admin-registration-main {
  margin: auto;
  padding: 0;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.admin-registration-avatar {
  width: 100%;
  margin: 0;
  padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 0.5%;
  background-color: #f8f8f8;
  border-radius: 0% 0% 100% 100%/0% 0% 100% 100%;
}

.admin-registration-avatar .logo-image {
  float: left;
  margin: 0;
  padding: 0;
}

.admin-registration-text {
  padding: 2%;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #293a7d;
}

.admin-registration-name,
.admin-registration-role,
.admin-registration-button,
.admin-registration-info-text {
  padding: 2%;
}

.admin-registration-footer {
  padding: 5%;
}

.admin-registration-info-text {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .student-registration-main {
    width: 100%;
  }
}
