footer {
  background-color: #f8f8f8;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-content {
  display: flex;
}

.main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
  text-align: center;
}

.main-content .box h4 {
  margin-top: 5px;
}
