.avatar-images-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.main-avatar-images {
  width: 40%;
  height: 40%;
  border-bottom-left-radius: 25em;
  border-bottom-right-radius: 25em;
}
