.student-headerProfilePage {
  min-width: 100%;
  height: fit-content;
  border-bottom-left-radius: 10em;
  border-bottom-right-radius: 10em;
  background-color: #f8f8f8;
}

.student-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.welcome-student {
  padding: 30px;
}

.event-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  border-radius: 15px;
  max-width: 350px;
}

.body-event {
  display: inline-flex;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  padding-top: 10px;
}

.event-card {
  width: 83px;
  height: 83px;
  left: 46px;
  top: 431px;
  padding-top: 10px;
}

.feedback-submit-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 32px;
}
