.optionListContainer {
  margin-top: 21px !important;
  width: 95% !important;
}

.option {
  background: none !important;
  color: #aeaeae !important;
}

.option:hover {
  background: #ebe8e8 !important;
  color: #aeaeae !important;
}
