.optionListContainer {
  margin-top: 21px !important;
  width: 95% !important;
}

.option {
  background: none !important;
  color: rgb(157 156 156) !important;
}

.option:hover {
  background: rgb(255 255 255) !important;
  color: rgb(157 156 156) !important;
}
