.btn-group {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 6px;
  border: 2px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 100px;
  background: #e8e8e8;
}

.radiobutton button {
  width: 85px;
  padding: 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  border: 1px solid #e8e8e8;
  border-radius: 100px;
  color: rgba(17, 16, 16, 0.336);
}

.radiobutton button:hover {
  color: #293a7d;
}

.radiobutton button:focus {
  color: #293a7d;
}
