.events-page {
  margin-left: auto;
  margin-right: auto;
}

.group-for-class {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: #293a7d;
  margin-bottom: 20px;
  padding-right: 150px;
  text-align: center;
}

.events-card {
  margin-left: auto;
  margin-right: auto;
}
