.events-page {
  align-items: center;
}

.group-for-class {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: #293a7d;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
