/* AppHeader */

/* BG */
.AppHeader-div {
  background-color: #f8f8f8;
  width: 100%;
  height: 59px;
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  right: 0;
}

.AppHeader-div img {
  position: absolute;
  left: 5.8%;
  right: 79.95%;
  top: 23.73%;
  bottom: 25.42%;
}

@media screen and (max-width: 600px) {
  .AppHeader-div {
    background: #f8f8f8;
    width: 100%;
    height: 59px;
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
  }

  .AppHeader-div img {
    position: absolute;
    left: 5.8%;
    right: 79.95%;
    top: 23.73%;
    bottom: 25.42%;
  }
}
