* {
  margin: 0;
  padding: 0;
}

.AppHeader-div {
  height: 59px;
  position: relative;
  background-color: #f8f8f8;
}

.Appheader-img-container {
  max-width: 59px;
  max-height: 30px;
  padding: 12px 100px;
}
