.cancel-reg-modal {
  font-size: 24px;
  padding-bottom: 7%;
}

.cancel-reg-textfield {
  margin: 4% 0% 5% 5%;
  margin-left: 4%;
  text-align: center;
  background-color: white;
  color: #666;
  padding-bottom: 7%;
}

.cancel-reg-submit-btn {
  padding-bottom: 7%;
  text-align: center;
}
