.cancel-reg-modal .modal-wrapper {
  width: 45%;
  margin: 0;
  height: 300px;
}

.cancel-reg-modal .modal-wrapper .modal-title {
  font-size: 24px;
  margin: 0;
  padding-bottom: 7%;
}

.cancel-reg-textfield {
  margin: 4% 0% 5% 5%;
  margin-left: 4%;
  width: 90%;
  text-align: center;
  background-color: white;
  border: none;
  color: #666;
  padding-bottom: 7%;
}

.cancel-reg-submit-btn {
  text-align: center;
}

.cancel-reg-submit-btn .button {
  text-align: center;
  border: 1px solid #e8e8e8;
  color: #fff;
  background-color: #f00;
}
