.event-card {
  max-width: 350px;
  max-height: 176px;
  width: 100%;
  background: #f6f6f6;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 14px;
  align-items: center;
}

.event-card .event-card-logo-and-text {
  display: flex;
  padding: 5px;
  width: 100%;
}

.event-card .event-card-buttons {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Dirty hack, fix! */
.event-card .event-card-buttons .button {
  height: unset;
  padding: 10px 30px;
}
