.form {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form > * {
  margin-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .form {
    max-width: unset;
    width: 100%;
  }
}
